.DS_Store
*.pyc
*.zip
*.tar.gz
*.swp
.venv
*.log
build
_build
dist
solvers/._glucose-syrup-4.1
solvers/cadical103
solvers/cadical153
solvers/cadical195
solvers/gluecard30
solvers/gluecard41
solvers/glucose30
solvers/glucose41
solvers/glucose421
solvers/kissat404
solvers/lingeling
solvers/maplechrono
solvers/maplecm
solvers/maplesat
solvers/mergesat3
solvers/minicard
solvers/minisat22
solvers/minisatgh
temp
web/.hugo_build.lock
wheelhouse
