.team {
  padding-bottom: 2rem;
}

.team .members {
  display: flex;
  flex-wrap: wrap;
}

.team .member {
  width: 11rem;
  display: flex;
  flex-direction: column;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  vertical-align: top;
}

.team .member .photo img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.team .member .name {
  font-weight: bold;
}
