<div class="numfocus">
    <a href="https://numfocus.org/donate-to-numpy">
        <img src="/images/logos/NumFOCUS_sponsored_project_logo.svg" width="200" alt="NumFOCUS logo" />
    </a>
    <a href="https://numfocus.org/donate-to-numpy" class="numfocus-button">
        DONATE
    </a>
</div>

<style>
    .numfocus {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
        cursor: pointer;
    }

    .numfocus-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 35px;
        margin: 15px 0;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 500;
        color: #fff;
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: #013243;
        border: none;
        border-radius: 25px;
        outline: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .numfocus-button:hover {
        text-decoration: none;
        background-color: #e4f1fe;
        color: #013243;
    }
</style>